<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-group">
    <div formGroupName="data">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="subject" placeholder="Subject" formControlName="subject">
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="message" rows="7" formControlName="message" placeholder="Message"></textarea>
    </div>
    <button class="btn btn-block btn-primary" type="submit" >{{buttonText}}</button>
</form>
