.data-contact {
    margin-bottom: 6px;
    text-align: left;

}
.data-contact p {
    color: rgb(221, 217, 217);
}

.data-contact h5 {
    color: rgb(248, 246, 245);
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.3;
}