<div class="data-contact" *ngIf="personalData?.email?.tag && personalData?.email?.value">
    <h5>{{personalData['email']['tag'] | titlecase}}</h5>
    <p>{{personalData['email']['value']}}</p>
</div> 
<div class="data-contact" *ngIf="personalData?.phone?.tag && personalData?.phone?.value">
        <h5>{{personalData['phone']['tag'] | titlecase}}</h5>
        <p>{{personalData['phone']['value']}}</p>
</div>
<div class="data-contact" *ngIf="personalData?.address?.tag && personalData?.address?.value">
    <h5>{{personalData['address']['tag'] | titlecase}}</h5>
    <p>{{personalData['address']['value'][0] | titlecase}}</p>
    <p>{{personalData['address']['value'][1] | titlecase}}</p>
    <p>{{personalData['address']['value'][2] | titlecase}}, {{personalData['address']['value'][3] | titlecase}}</p>
</div>
