* {
    margin: 0;
}

.info-sb {
    padding-left: 6%;
}

.gradient-img {
    background: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    resize: both;
    overflow: auto;
    background: linear-gradient(135deg, #124c7c 0%, #124c7c 30%, #85e897 100%);
    opacity: 1;
  }
