<div class="component">
    <div class="sidebar">
        <span class="title">Get in touch</span>
    </div>
    <div class="content">
        <div class="row frame gradient-img">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <app-email-sender></app-email-sender>
                    </div>
                    <div class="col-4 info-sb">
                        <app-contact-info></app-contact-info>
                        <app-social-buttons></app-social-buttons>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <app-map></app-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
