<div class="social-buttons">
  <a  *ngFor="let button of socialButtons"
      type="button" 
      class="btn btn-{{button['btn-name']}}" 
      [href]="button['href'] | sanitizer" 
      target="_blank">
    <i class="fab {{button['icon-name']}}"></i>
  </a>
</div>
