.social-buttons {
    margin-top: 20%;
    margin-bottom: 10%;
}

.social-buttons a {
    display: inline-block;   
    padding: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 12px;
    font-weight: lighter !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius:50%;
    position: relative;
    top: -3px;
    color: #fff!important;
}

.social-buttons a i {
    color: white !important;
}

/* Add a hover effect if you want */
.social-buttons a i:hover {
    opacity: 0.7;
}

.instagram {
   background-color: #f06595;
}

.twitter {
    background-color: #5a96f3;
}

.linkedin {
    background-color: #2568ce;
}

.github {
    background-color: #4d4f5e;
}