/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    /*border: 1px solid #f00 !important;*/
}

body {
    height: 100vh;
}
body {
    min-height: 100vh;
}

.component {
    display: table;
    width: 100%;
    height: 100%;
}

.sidebar, .content {
  display: table-cell;
}

.component .content .frame {
    padding-top: 90px;
    padding-bottom: 70px;
    margin: 0px;
}

.component .sidebar {
    background: #161616 url(http://www.alessioatzeni.com/wp-content/tutorials/html-css/CSS3-Skill-Bar-Animation/pattern_40.gif) top left repeat;
    left: 0;
    width: 55px;
    position: relative;/*
    border-style: solid;
    border-color: red;*/

}

.component .sidebar .title {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    white-space:nowrap;
}
